<div id="combat-turn">
    <div class="combat-turn-avatar">
        <div class="combat-turn-avatar-image"></div>
        <div class="combat-turn-avatar-timer"></div>
    </div>
    <div class="combat-turn-actor">
        <div class="combat-turn-title">
            Now Playing
        </div>
        <div class="combat-turn-name">
            Kurric
        </div>
    </div>
</div>